.container {
    display: flex;
}

.rounded-corners {
    border-radius: 30px;
}

.darkblue {
    background-color: darkblue;
}



#title {
    font-family: roboto;
    color: white;
    text-align: left;
    font-weight: 700;
    margin-left: 15vw;
    padding-top: 2vh;
    font-size: 1.5em;
    margin-right: 70vw;
}

body {
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bordered {
    border: #000 solid 0.35vmin;
}

.white-text {
    color: white;
}

.white-border {
    border-color: #fff;
}

.align-right {
    justify-content: right;
}

.align-right-text {
    text-align: right;
}

.align-left-text {
    text-align: left;
}

.align-right-text, 
.align-left-text {
    padding: 2%;
}

.normal-text {
    font-size: 1em;
    font-family: Comfortaa, cursive;
}

.flex {
    flex: auto;
}

.square-box {
    flex-grow: 0;
    width: 30ch;
    height: 30ch;
}

#box1 {
    margin-top: 10vh;
}

.box {
    width: 95%;
    margin-top:2vh;
}

.bg1 {
    background-color: #1f2937;
}

.links {
    justify-content: center;
    gap: 2vw;
}

.grey-link {
    color: grey;
    font-family: roboto;
    font-size: 1em;
}

#top-links {
    margin-top: -2vh;
    margin-left: 25vw;
}

.black {
    background-color: #212121;
}

.paragraph {
    justify-content: center; 
    border-color: darkblue; 
    padding: 2vh;
    bottom: 0;
}

.lightgrey {
    background-color: #555555;
}

#overview {
    margin-top: 10vh;
    margin-bottom: -4vh;
    width: 90%;
}
  .timeline-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    height: 300px;
  }
  
  .timeline-wrapper .middle-line {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #2c4f88;
  }
  
  .box-timeline {
    width: 17%;
    position: relative;
    min-height: 300px;
    float: right;
  }
  
  .box-timeline .date {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #2c4f88;
    border: 2px solid rgb(59, 53, 53);
    color: white;
  }
  
  .date p {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0px;
  }
  
  .box-timeline .box-content {
    border-radius: 5px;
    background-color: rgb(59, 53, 53);
    width: 180px;
    position: absolute;
    left: -77px;
    padding: 15px;
  }
  
  .box-content p {
    margin: 0;
    color: white;
  }
  
  .box-bottom .box-content {
    top: 65%;
  }
  
  .box-content::before {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
  }
  
  .box-bottom .box-content::before {
    border-bottom-color: rgb(59, 53, 53);
    top: -20px;
  }
  
  .box-top .box-content::before {
    border-top-color: rgb(59, 53, 53);
    bottom: -20px;
  }
  
  #timeline-container {
    margin-top: 10vh;
    width: 90%;
  }

  .buttons {
      margin-top: 4vh;
  }